/* ============================================= */
/*                  Variables                    */
/* ============================================= */

/* Base Colors */
$color-primary: #58e1c1;
$color-secondary: #777;
$color-tertiary: #51ddfc;

/* Button Colors */
$color-btn-text: #fff;
$color-btn-error: #e4757a;
$color-btn-info: #927bc1;
$color-btn-success: #63cc82;
$color-btn-warning: #fd7856;

/* Image Colors */
$color-img-frame: #ccc;

/* Media Query Breakpoint & Max-Width */
$mq-breakpoint: 768px;
$mq-max-width: 1400px;

