/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-btn-text;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    @include color-fade($color-tertiary);
  }
  
  .error {
    @include color-fade($color-btn-error);
  }
  
  .info {
    @include color-fade($color-btn-info);
  }
  
  .success {
    @include color-fade($color-btn-success);
  }
  
  .warning {
    @include color-fade($color-btn-warning);
  }