/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  &-avatar {
    @include center;
    @include img-styling;
    max-height: 100%;
  }
  &-frame {
    @include center;
    @include img-styling;
    padding: 13px;
    border: 1px solid $color-img-frame;
  }
  &-logo {
    @include center;
  }
}