/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $mq-breakpoint) {

    .container {
      max-width: $mq-max-width;
      @include center;
    }
    
    .centered {
      @include center;
    }
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
      & + & {
        margin-left: 10px;
      }
    }

    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        flex-basis: calc(100% * $i / $grid-columns);
      }
    }
    
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      &-link {
        flex-basis: 100px;
      }
    }
    
    .btn {
      padding: 10px 30px;
      & + & {
        margin-left: 10px;
      }
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    }